<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="adminhome.css"/>
<head>
<meta charset="ISO-8859-1">
<title>ADMIN HOME</title>
</head>
<body>

<p>WELCOME ADMIN</p>

	<div class="logout-container">
        <form action="logout" class="logout-form">
            <input type="submit" value="LOGOUT" class="logout-btn">
        </form>
    </div> <br>

<div class="container">
<div class="container-1">
	<form action="newsong" class="add-songs">
		<input type="submit" value="Add Songs" class="add-btn">
	</form>
</div><br>

<div class="container-1">
	<form action="viewsongs" class="view-songs">
		<input type="submit" value="View Songs" class="view-btn1">
	</form>
</div><br> 

<div class="container-1">
	<form action="createplaylist" class="create-playlist">
		<input type="submit" value="Create Playlist" class="create-btn">
	</form>
</div><br>

<div class="container-1">
	<form action="viewplaylist" class="view-playlist">
		<input type="submit" value="View Playlist" class="view-btn2">
	</form>
</div>
</div>


</body>
	<div class="background-text">TuneHUB</div>
	
</html>